html {
  @apply box-border h-full;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
  @apply h-full;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @apply max-w-[1920px] m-auto relative overflow-x-clip bg-[#0F0823];
}

section {
  @apply pt-[70px];
}
