header {
  @apply flex justify-between items-center absolute top-0 w-full pt-[30px] px-[60px];
  .logo {
    img {
      @apply w-[130px];
    }
  }
  nav {
    ul {
      @apply flex gap-[30px];
      li {
        @apply cursor-pointer;
        a {
          @apply font-openSans not-italic font-normal text-[18px] leading-[18px] text-[#ffffff] capitalize p-[10px];
        }
      }
      .hoverdrop {
        @apply relative;
        .dropdown {
          @apply absolute hidden w-max bg-[#ffffff] right-1/2 rounded-[5px];
          transform: translate(50%, 6%);
          li {
            @apply cursor-pointer;
            a {
              @apply block p-[10px] text-[#000000] ease-in-out duration-200 transition-all;
            }
            &:hover {
              @apply bg-[#4f62c0] ease-in-out duration-500 transition-all;
              a {
                @apply text-[#ffffff];
              }
            }
            &:first-child {
              @apply rounded-t-[5px];
            }
            &:last-child {
              @apply rounded-b-[5px];
            }
          }
        }
        &::after {
          content: "";
          background: url(../public/images/arrow-down.svg);
          @apply absolute w-[10px] h-full bg-no-repeat bg-center bg-contain -right-[10px];
        }
        &:hover {
          .dropdown {
            @apply block;
          }
        }
      }
    }
  }
}
.hero {
  background: url(../public/images/hero-bg.png);
  @apply h-[764px] bg-no-repeat bg-top bg-cover;
  .wrapper {
    @apply text-[#ffffff] text-center w-[580px] flex flex-col mx-auto pt-[190px] gap-[20px];
    h1 {
      @apply font-merriweather not-italic font-bold text-[40px] leading-[48px] text-center capitalize text-[#ffffff];
    }
    p {
      @apply font-openSans not-italic font-normal text-[13px] leading-[21px] text-center text-[#ffffff];
    }
  }
}

.awards {
  .wrapper {
    @apply pt-[70px];
    h2 {
      @apply font-merriweather not-italic font-bold text-[50px] leading-[60px] text-center capitalize text-[#ffffff];
    }
    p {
      @apply font-openSans not-italic font-normal text-[16px] leading-[28px] text-center text-[#ffffff] px-[290px];
    }
    .awards-slider {
      @apply w-[90%] mx-auto pt-[50px];
    }
    /* the slides */
    .slick-slide {
      margin: 0 20px;
    }

    /* the parent */
    .slick-list {
      margin: 0 -20px;
    }
    .slide-arrow {
      @apply absolute top-[50%] -mt-[15px];
    }
    .prev-arrow {
      background: url(../public/images/back.png);
      @apply -left-[50px] top-[60%] w-[33px] h-[33px];
    }
    .next-arrow {
      background: url(../public/images/next.png);
      @apply -right-[50px] top-[60%] w-[33px] h-[33px];
    }
    .who-are-we {
      background: url(../public/images/who-are-we.png);
      @apply flex items-center
        justify-center gap-[80px] pt-[50px] px-[50px];
      h3 {
        @apply font-merriweather not-italic font-bold text-[50px] leading-[60px] text-left capitalize text-[#ffffff];
      }
      p {
        @apply font-openSans not-italic font-normal text-[16px] leading-[28px] text-left text-[#ffffff] px-0 pb-[34px];
      }
      .man-image {
        img {
          @apply opacity-80;
        }
      }
      .para {
        @apply w-[75%];
      }
    }
  }
}
